<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computers</title>
    <link rel='stylesheet' href="../style/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=laptop_windows" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
</head>
<body>
    <header>
        <h1>
            Device Manager
        </h1>
        <span class="material-symbols-outlined" id="menu">
            menu
        </span>
    </header>
    <div>
        <div id="computers">
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
            <div class="tile">
                <div class="title">
                        <h2>
                            Computer 1
                        </h2>
                        <span class='online'>
                            .
                        </span>
                </div>
                <img class='computerImage' src="../resources/laptop_windows.svg" />
            </div>
        </div>
    </div>
    <footer>
    </footer>
</body>
</html>
